<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Mongoose Dressage News Scraper</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 id="prvdr" data-id="{{article._id}}">Article ID: {{article._id}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            <h4>{{article.headline}}</h4>
                            <p>(ID: {{article._id}})</p>
                        </div>
                        <div class="col-0"></div>
                        <div class="col-5">
                            <p>{{article.summary}}</p>
                            <p><a href="{{article.url}}">{{article.url}}</a></p>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                </li>
            </ul>
            <br><br>
        </div> 
    </div>
    <div class="row">
        <div class="col-12">
            <p>All Comments for this article:</p>
            <ul class="list-group">
                {{#each article.comments}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            <h4>{{username}}</h4>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-3">
                            <p>{{text}}</p>
                        </div>
                        <div class="col-3">
                            <br>
                            <a href="">
                            <button class="btn btn-primary" type="button" data-id="{{_id}}">Delete Comment</button></a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <br><br>
        </div> 
    </div>
    <div class="row">
        <div class="col-7">
            <form>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="comment"></label>
                    <textarea class="form-control" rows="4" placeholder="Enter your comment..."></textarea>
                </div>
                <button class="btn btn-primary">Post Comment</button>
            </form>
            <br><br>
        </div>
    </div>
</div>